/* Reset Css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

/*
1. Vị trí
2. Kích thước (width, height)
3. Màu trí
4. Kiểu dáng (kiểu chữ, hình tròn, vuông, ...)
*/

/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

.clear {
  /* sua lai thuoc tinh float bi loi khi class cha */
  /* khong bao het class con */
  clear: both;
}

.text-white {
  color: #fff !important;
}

#header {
  position: fixed;
  /* fix top header vao top 0 */
  top: 0;
  right: 0;
  left: 0;
  height: 46px;
  background-color: #000;
  z-index: 1;
}

#nav {
  /* display = block; lam class con ke thua class cha*/
  /* mac dich width chiem het class cha */
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

/* > con truc tiep cua the #nav moi an */
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  /* can giua cho elem */
  /* cho line-height = height cua the chua tu dong can giua */
  /* vi chu luon dc can giua line-height */
  line-height: 46px;
  padding: 0 24px;
  /* a la inline nen se khong co width vs height */
  /* inline-block bien thanh block tang height cho the a */
  display: block;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  left: 0;
  top: 100%;
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}

#header .search-btn {
  float: right;
  padding: 0 21px;
}

#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

#slider {
  /* do position: fixed => header nam tren slider */
  /* margin-top giup slider thut xuong dung vi tri cua no */
  margin-top: 46px;
  /* padding-top: 50% width cua chinh the slider */
  /* ly do muon anh dep phai dung ty le anh, anh dang ti le 2:1 */
  /* su dung background-img de do anh tu padding --> content */
  /* giup anh dat duoc ti le 2:1 */
  padding-top: 50%;
  background: url("/assets/img/chicago.jpg") top center / cover no-repeat;
  position: relative;
}

#slider .text-content {
  position: absolute;
  color: #fff;
  bottom: 47px;
  /* can giua chu*/
  /* left: 50%;
  transform: translateX(-50%); */
  width: 100%;
  text-align: center;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}

.text-desciption {
  font-size: 15px;
  margin-top: 25px;
}

#content .content-section {
  padding: 64px 0;
  max-width: 800px;
  /* can giua auto cho margin-left-right */
  margin: 0 auto;
}

#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
  text-align: center;
}

#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  font-style: italic;
  margin-top: 25px;
  opacity: 0.6;
}

#content .about-text {
  font-size: 15px;
  text-align: justify;
  margin-top: 25px;
  line-height: 1.4rem;
}

#content .member-list {
  margin-top: 47px;
}

#content .member-item {
  float: left;
  /* can giua 3 item*/
  /* 100%/3 */
  width: calc(100% / 3);
  text-align: center;
}

#content .member-name {
  font-size: 15px;
}

#content .member-img {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}

/* Tour-section */
.tour-section {
  background-color: #000;
}

.tickets-list {
  background-color: #fff;
  margin-top: 40px;
  list-style: none;
}

.tickets-list li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
}

.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}

.tickets-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background: #000;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}

/* Footer-section */
#footer {
}
