/* Reset Css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

/*
1. Vị trí
2. Kích thước (width, height)
3. Màu trí
4. Kiểu dáng (kiểu chữ, hình tròn, vuông, ...)
*/

/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

#main {
}

#header {
  height: 46px;
  background-color: #000;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

/* > con truc tiep cua the #nav moi an */
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  /* can giua cho elem */
  /* cho line-height = height cua the chua tu dong can giua */
  /* vi chu luon dc can giua line-height */
  line-height: 46px;
  padding: 0 24px;
  /* a la inline nen se khong co width vs height */
  /* inline-block bien thanh block tang height cho the a */
  display: block;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  left: 0;
  top: 100%;
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

#slider {
}

#content {
}

#footer {
}
